<% if (typeof message !== 'undefined') { %>
  <h3><%= message %></h3>
<% } else if (typeof data !== 'undefined') { %>
  <h1>Setup your docker environment.</h1>
  <form action="/setup" method="post" enctype="multipart/form-data">
    <input type="text" required name="username" placeholder="Please enter your email*"/>
    <h3>Select the OS</h3>
    <select name="os">
      <% for (var key in data.os) { %>
        <option value="<%= key %>"><%=data.os[key]%></option>
      <% } %>
    </select>
    <h3>Upload source code</h3>
    <input type="file" name="source-code" required>
    <br>
    <hr />
    <input type="submit" value="Submit">
  </form>
<% } %>
